.cme-disclosure {
	width: 800px;
	position: absolute;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -400px;
}

.cme-disclosure-scroll-content {
	height: 600px;
	overflow-y: scroll;
}

.cme-piece-overlay {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
