.cme-front-matter-display {
	width: 800px;
	position: absolute;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -400px;
}

.cme-front-matter-display-scroll-content {
	height: 600px;
	overflow-y: scroll;
}

.cme-front-matter-display-overlay {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cme-front-matter-display-hidden {
	display: none;
}
