#email_help_text {
	background-image: none;
	padding: 12px 16px;
	margin: 16px 0;
	border-style: solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#email_help_text table {
	font-size: 11px;
}

#email_help_text th {
	text-align: right;
	padding-right: 4px;
}

#email_help_text td {
	padding-right: 20px;
}

textarea {
	width: 96%;
}
